.idea/
sumatrapdfcache/
.idea
__pycache__
build
dist
output
*.spec
*.xlsx
*.xlsm
*.exe
mixing_label_template - orig.svg
mixing.svg
mixing.pdf
config_.cfg
test.py
SumatraPDF.exe
SumatraPDF-settings.txt
*.dll