# Файл описывает основные настройки для работы утилиты.
# Перед знаком = и после не должно быть пробелов!


[Paths]
# Путь к файлу-буферу с данными
BUFFER_WORKBOOK_PATH=C:\Temp\mixing_scrap.xlsx

# Имя листа в книге, на который ведется запись
SHEET_NAME=Sheet1

# Элементы для формирования списков
# Список с номерами смен будет начинаться с первого значения и заканчиваться последним
[List Settings]
# Номер первой производственной линии
FIRST_LINE_NUMBER=1

# Номер последней производственной линии
LAST_LINE_NUMBER=12

# Буквенные обозначения смен. Каждая буква будет отдельным элементом списка.
SHIFTS=ABCD


[Common Config]
# Формат вывода даты:
# %%Y - год в виде YYYY
# %%m - месяц в виде MM
# %%d - день в виде DD
# Можно комбинировать формат и указывать любые разделители для формирования даты
DATE_FORMAT=%%d.%%m.%%Y